.html{
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/*-------------------------сетка-------------------------------------------------------------------*/
.layout-wrap{
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    background-color: green;
    /*opacity: 0.2;*/
}

.three-col-grid .grid-item{
    width: calc((100% - 20px * 3) / 3);
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    margin-top: 20px;

}

.grid-item:nth-child(3n + 3){
    margin-right: 0px;
    float:right;
}

.three-col-grid::after{
    display: table;
    content: "";
    clear: both;
}


.three-col-grid .grid-item:nth-child(1){
    background-color: red;
}
.three-col-grid .grid-item:nth-child(n + 3){
    background-color: red;
}
.three-col-grid .grid-item:nth-child(3n + 2){
    background-color: orange;
}
.three-col-grid .grid-item:nth-child(3n + 3){
    background-color: yellow;
}
.column {
    width: calc((100% - 20px * 12) / 12);
    height: 80px;
    margin-right: 10px;
    margin-left: 10px;
    background: rgba(0, 0, 255, 0.25);
    float: left;
}
/*-------------------------------------------------------------Nav--Навигация---------------------------*/
.navigation_ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;

    justify-content: center;

}
.li_nav{
    margin-left: 20px;
    font-size: 25px;
}
a{
    text-decoration: none;
}

